h1 {
 color: #6cd4ff;
 font-size: 50px;
}
h2 {
  color: #8B80F9;
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

ul {
  font-size: 15px;
}

.customtext {
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-weight: bold;
font-size: 30px;
color: purple;
}

.fontcombined {
font: bold 20px Arial, Helvetica, sans-serif;
}

p {
  size:
}

a {
 color: #ff0000;
}

a:link {
 color: #8B80F3;
}

a:visited {
 color: #f42242;
}

a:active {
 color: #f42272;
}

a:hover {
 color: #ffc09f;
}
